<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
      
    {{input type="text" value=filter placeholder="Search by title or content" class="form-control mr-sm-2"}}
  </form>
</nav>

<div class="row">
  {{#each filteredList as |note|}}
    <div class="col-md-4">
      {{#note-tile title=note.title content=note.content id=note.id createdOn=note.createdOn lastEdit=note.lastEdit tags=note.tags}}
          <span class="tile_buttons">
            {{#link-to 'notes.edit' note.id class='btn btn-success btn-xs' tagName='li'}}<a href="" id='edit_a'>Edit</a>{{/link-to}}
             <button class="btn btn-danger btn-xs" {{action 'deleteNote' note}}>Delete</button>
          </span>
          
        {{/note-tile}}
    </div>
  {{/each}}
</div>
