<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
      
    {{input type="text" value=filter placeholder="Search by title or content" class="form-control mr-sm-2"}}
    {{input type="text" value=filterTag placeholder="Search by tag" class="form-control mr-sm-2"}}
  </form>
</nav>

<div class="container-1" >
  {{#each filteredList as |note|}}
    <div class="noteTile">
      {{#note-tile title=note.title content=note.content id=note.id createdOn=note.createdOn lastEdit=note.lastEdit item=note}}
          <div class="tile_buttons">
                <div class="edit-button">
                    {{#link-to 'notes.edit' note.id class='btn btn-success btn-xs' tagName='li' }}<a href="" id='edit_a'>Edit</a>{{/link-to}}
                </div> 
                <div class="delete-button">
                    <button class="btn btn-danger btn-xs" {{action 'deleteNote' note}}>Delete</button>
                </div>
          </div>
        {{/note-tile}}
    </div>
  {{/each}}
</div>
